@{
    ViewBag.Title = "Game page";
}

<button id="startButton" type="button" name="button">Start</button>
<h2 id="promptToEnter"></h2>
<p id="numberOfClicksMade"></p>
<h1 id='congratulations'></h1>
<p id='scoreboard'>Score:</p>
<div class="clickRegisterDiv">
    <h2 id='clickRegister'></h2>
</div>
<table>
    <thead>
        <tr>
            <td class="boxes" id="red" data-num="0"></td>
            <td class="boxes" id="blue" data-num="1"></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="boxes" id="green" data-num="2"></td>
            <td class="boxes" id="yellow" data-num="3"></td>
        </tr>
    </tbody>
</table>
<a href="/"><button id="back" type="button" name="button">Go back to the homepage</button></a>